:root{
    --light-blue:rgba(250, 237, 237, 0.938) ;
    --dark-blue:rgb(253, 250, 249) ; 
    --main-content-head-fontsize:50px;
    --main-content-fontfamily: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:auto ;
    grid-template-areas: "header"
                        "Education"
                        "Experience"
                        "footer";
}

header{
    height: 100vh;
    width: 100%;
    grid-area: header;
    background-image: url(image/PRO4.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
}
.navigation_bar{
    grid-row: 1;
    grid-column: 2;
    font-size: 23px;
    padding-left:290px;
    padding-top: 30px;
   
}
.navigation_bar a{
    
    text-decoration: none;
    color: rgb(253, 128, 112);
    /* margin-left:; */
}
.navigation_bar a:hover{
    text-decoration: underline;
    color: rgb(238, 92, 73);
}

.fa-brands {
     color:rgb(253, 128, 112);
     margin-left: 140px;
     font-size: 25px;
}
header P{
    grid-row: 2;
    grid-column: 2;
    font-size: 40px;
    margin-left: 110px;
    margin-top:220px ;
    color: rgb(241, 80, 59);
    /* color: -moz-linear-gradient(rgb(241, 80, 59),black); */
}

section{
    height: auto;
    width:100%;
}
#education{
    height: 100vh;
    width: 100%;
    grid-area: Education;
    background-image: url("image/undraw_true_friends.png") ;
    background-repeat: no-repeat;
    position: relative;
    
    /* z-index: -1; */
}
.main-head-details{
    margin-top:-100px ;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-evenly;
    z-index:1;
    margin-right: 30px;
        
}
.detail-boxes{
    height: 100px;
    width: 500px;
    background-color: var(--light-blue);
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 1;
    border-radius: 10px;
}
h2{
    margin-top: -40px;
}

.heading{
    background-color:var(--dark-blue) ;
    font-family: var(--main-content-fontfamily);
    font-size: var(--main-content-head-fontsize);
    padding: 50px;
    opacity: 0.6;
}
div.heading h1{
    font-size: 50px;
    font-weight: bolder;
    color: black;
}
#experience{
    height: 100vh;
    width: 100%;
    grid-area: Experience;
    flex-direction: row;
    background-image: url(image/5f4d794133ffde5ffa5cd8f8_remote-worker-mobile.png);
    background-size:auto;
    z-index: -1;
}
.exp_main-head-details{
    margin-top:-100px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:500px ;
    /* margin-right: 8px; */
}
.exp-detail-boxes{
    height: 300px;
    width: 370px;
    background-color: var(--light-blue);
    align-items: center;
    padding: 15px;
    z-index: 1;
}
p{
    margin-top: -10px;
    font-size: 30px;
}
h1{
    font-size: 35px;
    font-weight: bold;
}
footer{
    height: 100vh;
    width: 100%;
    grid-area: footer;
    background-color: rgb(247, 166, 156);
    position:relative;
}
#footer-btn{
    width: 200px;
    height: 50px;
    /* border-radius: 15px; */
    margin-top: 200px;
    margin-left: 250px;
    border:solid white 3px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(247, 166, 156);
}
#footer-btn:hover{
    background-color: rgb(243, 134, 119);
}